# ------- Global settings -------
region   = "{{ plat__region }}"

aws_profile = "{{ (plat__aws_profile | length > 0) | ternary(plat__aws_profile, 'default') }}"

env_tags = {
{% for key, value in plat__tags.items() %}
    {{ key }} = "{{ value }}"
{% endfor %}
    comment = "Created with Terraform by cloudera-deploy"
}

env_prefix = "{{ plat__namespace }}"

# ------- Policies -------
# Cross Account Policy (name and document)
xaccount_policy_name = "{{ plat__aws_xaccount_policy_name }}"

xaccount_account_policy_doc = <<EOF
{{ plat__aws_xaccount_account_policy | tojson }}
EOF

# CDP IDBroker Assume Role policy
idbroker_policy_name = "{{ plat__aws_idbroker_policy_name }}"

# CDP Data Access Policies - Log
log_data_access_policy_name = "{{ plat__aws_log_location_policy_name }}"

log_data_access_policy_doc  = "{{ "./policy_docs/" ~ (__aws_policy_documents | json_query("results[?__policy_url_item.key==`log`].dest | [0]") | basename) }}"

# CDP Data Access Policies - ranger_audit_s3
ranger_audit_s3_policy_name = "{{ plat__aws_ranger_audit_s3_policy_name }}"

ranger_audit_s3_policy_doc  = "{{ "./policy_docs/" ~ (__aws_policy_documents | json_query("results[?__policy_url_item.key==`ranger_audit_s3`].dest | [0]") | basename) }}"

# CDP Data Access Policies - datalake_admin_s3 
datalake_admin_s3_policy_name = "{{ plat__aws_datalake_admin_s3_policy_name }}"

datalake_admin_s3_policy_doc  = "{{ "./policy_docs/" ~ (__aws_policy_documents | json_query("results[?__policy_url_item.key==`datalake_admin_s3`].dest | [0]") | basename) }}"

# CDP Data Access Policies - bucket_access
bucket_access_policy_name = "{{ plat__aws_bucket_access_policy_name }}"

bucket_access_policy_doc  = "{{ "./policy_docs/" ~ (__aws_policy_documents | json_query("results[?__policy_url_item.key==`bucket_access`].dest | [0]") | basename) }}"

# ------- Roles -------
xaccount_role_name = "{{ plat__aws_xaccount_role_name}}"

xaccount_external_id = "{{ plat__aws_xaccount_external_id }}"

idbroker_role_name = "{{ plat__aws_idbroker_role_name }}"