variable "aws_profile" {
  # Profile is default is plat__aws_profile is blank
  default = "{{ (plat__aws_profile | length > 0) | ternary(plat__aws_profile, 'default') }}"
}

# Region
variable "region" {
  default = "{{ plat__region }}"
}


variable "env_tags" {
  default = {
    {% for key, value in plat__tags.items() %}
    {{ key }} = "{{ value }}"
    {% endfor %}
    comment = "Created with Terraform by cloudera-deploy"
  }
}
