# Copyright 2022 Cloudera, Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Azure

# NOTE: The Azure CLI is installed as a OS package.

# Azure Collection requirements, which are distinct from Azure CLI
-r https://raw.githubusercontent.com/ansible-collections/azure/dev/requirements-azure.txt
azure-mgmt-netapp>=1.0.0    # NetApp Collection requirements