# Python internals
wheel

# CVE avoidance
requests[security]>2.5.3
urllib3>1.24.2
cryptography>=2.3.1

# Ansible 
jmespath                # community.general.json_query
netaddr                 # ansible.netcommon.ipaddr
molecule[lint]==3.4     # Pinned due to https://github.com/ansible-community/molecule/issues/3243

# CDPCLI / cdpy
git+https://github.com/cloudera-labs/cdpy@main#egg=cdpy
