{% if infra__terraform_state_storage == "local" %}
# Terraform state is stored locally at {{ infra__terraform_workspace_dir }}/infra
{% endif %}

{% if infra__terraform_state_storage == "remote_s3" %}
terraform {
  backend "s3" {
    region                  = "{{ infra__region }}"
    bucket                  = "{{ infra__terraform_remote_state_bucket }}"
    key                     = "{{infra__namespace}}/infra/terraform.tfstate"
    dynamodb_table          = "{{ infra__terraform_remote_state_lock_table }}"
  }
}
{% endif %}
