# ------- VPC -------
# Create the VPC's
resource "aws_vpc" "{{ infra__vpc_name }}" {
  cidr_block           = "{{ infra__vpc_cidr }}"
  tags = merge(var.env_tags,{Name = "{{ infra__vpc_name }}"})
  # NOTE: Below variables not available in cloudera.exe
  #instance_tenancy     = "aws.vpc.vpc_instanceTenancy"
  #enable_dns_support   = "aws.vpc.vpc_enable_dns_support"
  #enable_dns_hostnames = "aws.vpc.vpc_enable_dns_hostnames"
}

# ------- Internet Gateway -------
# NOTE: In EDU code there's a loop over internet_gateways
resource "aws_internet_gateway" "{{ infra__aws_igw_name }}" {
  vpc_id = aws_vpc.{{ infra__vpc_name }}.id
  tags = merge(var.env_tags,{Name = "{{ infra__aws_igw_name }}"})
}

# ------- VPC Subnets -------
{% for __aws_subnet_cidr_item in infra__vpc_public_subnet_cidrs | union(infra__vpc_private_subnet_cidrs) %}
resource "aws_subnet" "{{ infra__namespace }}_subnet{{ loop.index }}" {
    vpc_id = aws_vpc.{{ infra__vpc_name }}.id
    cidr_block = "{{ __aws_subnet_cidr_item }}"
    map_public_ip_on_launch = true
    availability_zone = "{{ __aws_az_info.availability_zones[loop.index0 % infra__aws_vpc_az_count | int].zone_name }}"
    tags = merge(var.env_tags,{Name = "{{ infra__namespace }}"})
}
{% endfor %}

# ------- Route Table -------
# NOTE: In EDU code a new route table is created; in Ansible main is reused & updated.
resource "aws_default_route_table" "{{ infra__aws_route_table_name }}" {
  default_route_table_id = aws_vpc.{{ infra__vpc_name }}.default_route_table_id

  route {
    cidr_block = "0.0.0.0/0"
    gateway_id = aws_internet_gateway.{{ infra__aws_igw_name }}.id
  }


  tags = merge(var.env_tags,{Name = "{{ infra__aws_route_table_name }}"})
}

# Associate the Route Table with the Subnet
{% for subnet in infra__vpc_public_subnet_cidrs | union(infra__vpc_private_subnet_cidrs) %}
resource "aws_route_table_association" "{{ infra__namespace }}_subnet{{ loop.index }}-association" {
   subnet_id      = aws_subnet.{{ infra__namespace }}_subnet{{ loop.index }}.id
   route_table_id = aws_vpc.{{ infra__vpc_name }}.default_route_table_id
}
{% endfor %}

# ------- Security Groups -------
{% set __security_group_names = [infra__security_group_knox_name, infra__security_group_default_name] %}

{% for __security_group_name_item in __security_group_names %}
resource "aws_security_group" "{{ __security_group_name_item }}" {
  vpc_id       = aws_vpc.{{ infra__vpc_name }}.id
  name         = "{{ __security_group_name_item }}"

  # Create self reference ingress rule to allow 
  # communication among resources in the security group.
  ingress {
      from_port = 0
      to_port = 0
      protocol = "all"
      self = true
  }

{# ******* NOTE: HERE COMES THE MESSY PART! *******#}
{# Need to loop over each security group rule:#}
{# Need to Process & Translate *CIDR Block* according to following rules:#}
{#         * Can be empty in which case remove entry - DONE#}
{#         * Can be a string. Check if this works; if not cast to list element#}
{#         * Can be a list. Use directly - DONE #}

{# Need to Process & Translate *Ports* according to following rules: #}
{#         * If proto is `all` (or -1) then ports are 0 - DONE#}
{#         * If toPort and fromPort specified use those#}
{#         * ports: can be a range. Split and select - DONE#}
{#         * ports: could be a list. Loop over each - DONE #}
{#         * If no ports, toPort and fromPort then use default of full range (0)#}

{# **Loop over security group rule**#}
{% for ingress in infra__aws_security_group_rules %}
# ----- Raw Inputs -----
# ports = {{ ingress.ports|pprint }}
# cidr_blocks = {{ ingress.cidr_ip }}
# protocol    = {{ ingress.proto }}
# ----------------------
{# **Process CIDR Block**#}
{# 1. CIDR block can be empty, in which case remove entry#}
{% if ingress.cidr_ip | length > 0 %}
{# 1a. If CIDR is a single string value then we need to convert single item list #}
{#     to_json is used to convert single quotes around IP to double #}
{% if ingress.cidr_ip is string %}
{% set cidr_ingress = 'cidr_blocks = ' + [ingress.cidr_ip]| to_json | string %}
{% else %}
{# 1b. If CIDR is a list to convert single quotes to double (to_json) and stringify #}
{% set cidr_ingress = 'cidr_blocks = ' + ingress.cidr_ip| to_json | string %}
{% endif %}
{% else %}
{# 1c. If CIDR is empty we remove the entry #}
{% set cidr_ingress = '' %}
{% endif %} 
{# **Process Ports**#}
{# 1. If proto is 'all' or -1 #}
{% if ingress.proto in ['all', -1]  or ingress.ports is not defined %}
{# 1a. to and from ports are 0 #}
{% set toPort = 0 %}
{% set fromPort = 0 %}
{# 1b. Print out ingress #}
  ingress {
    {{ cidr_ingress }}
    from_port   = "{{ toPort }}"
    to_port     = "{{ fromPort }}"
    protocol    = "{{ ingress.proto }}"
  }
{# 2. Ports can be a String (either a single value or a range)#}
{% elif ingress.ports is string %}
{# 2a. Attempt to split the string at '-' to create a list#}
{% set portList = ingress.ports.split('-') %}
{# 2b. In the list toPort is the first element#}
{% set toPort = portList[0] %}
{# 2c. Value of fromPort depends on length of the split string.#}
{% if portList|length > 1 %}
{# ...it's the second element if a range is given (i.e. length > 1)#}
{% set fromPort = portList[1] %}
{% else %}
{# ...it's also the first element if a single value is given#}
{% set fromPort = portList[0] %}
{% endif %}
{# 2d. Print the ingress block#}
  ingress {
    {{ cidr_ingress }}
    from_port   = "{{ toPort }}"
    to_port     = "{{ fromPort }}"
    protocol    = "{{ ingress.proto }}"
  }
{# 3. Ports can be a List of individual ports which we need to loop over#}
{% elif ingress.ports is iterable and (ingress.ports is not string and ingress.ports is not mapping) %}
{# 3a. Loop over each port separately and print ingress #}
{% for port in ingress.ports %}
  ingress {
    {{ cidr_ingress }}
    from_port   = "{{ port }}"
    to_port     = "{{ port }}"
    protocol    = "{{ ingress.proto }}"
  }
{% endfor %}
{% endif %}
{% endfor %}

  # Terraform removes the default ALLOW ALL egress. Let's recreate this
  egress {
    cidr_blocks = ["0.0.0.0/0"]
    from_port   = 0
    to_port     = 0
    protocol    = "all"
  }

  tags = merge(var.env_tags,{Name = "{{ __security_group_name_item }}"})
}
{% endfor %}
