---
default_inventory_template: "inventory_template.ini"
default_static_inventory: "inventory_static.ini"

init__dynamic_inventory_template: "{{ abs_template | default( [definition_path, inventory_template | default(default_inventory_template)] | path_join ) }}"
init__dynamic_inventory_artefact: "{{ abs_inventory | default( [definition_path, static_inventory | default(default_static_inventory)] | path_join ) }}"
