---

# Copyright 2023 Cloudera, Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# integration_config.yml

# Minimal cloudera.exe configuration to construct a CDP testing environment
# Will recursively merge and overwrite any variables defined within a Target
# (i.e. vars/main.yml)

# You can use this file to create specific conditions for testing that are
# outside of a given target's configuration. Just be mindful that any changes 
# here will proprogate to all targets, so depending on your testing and development,
# you might want to limit execution to specified targets.

# Specify any environment variables for modules and libraries like CDPCLI, AWS, etc.
env_vars:
  #AWS_PROFILE:        my-aws-profile
  AWS_ACCESS_KEY_ID:  "foobarbaz"
  AWS_SECRET_ACCESS_KEY: "1234567890"
  #CDP_PROFILE:        my-cdp-profile
  CDP_ACCESS_KEY_ID:  "foobarbaz"
  CDP_PRIVATE_KEY:    "1234567890"

# Parameters used by all functions of cloudera.exe
globals:
  name_prefix:        t01
  admin_password:     My$Very%Secret5Password9
  infra_type:         aws
  region:             us-east-2
  ssh:
    public_key_id:    my-uploaded-ssh-key
  tags:
    deploy-tool:      ansible-test
  artifacts:
    create_deployment_details: no
    directory:        "{{ playbook_dir }}/artifacts"

# Default to cloud-only access patterns
infra:
  storage:
    name: "{{ globals.name_prefix }}-platform-test"
    extra_ports: [22, 443]      # Cloud-only access
