
datasources:
- name: prometheus
  type: prometheus
  access: proxy
  url: {{ prometheus_url }}
  isDefault: true
  jsonData:
     tlsAuth: true
     tlsAuthWithCACert: false
     tlsSkipVerify: false
     serverName: {{ prometheus_hostname }}
  version: 1
  editable: true
