---

# Copyright 2021 Cloudera, Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Remove Azure role assignments
  azure.azcollection.azure_rm_roleassignment:
    state: absent
    id: "{{ __plat_azure_role_item.id }}"
  loop_control:
    loop_var: __plat_azure_role_item
    label: __plat_azure_role_item.name
  loop:
    "{{ __plat_azure_role_assignment_list }}"

- name: Request deletion of Azure Managed Identities
  loop_control:
    loop_var: __azure_msi_item
  register: __azure_az_msi_info
  azure.azcollection.azure_rm_resource:
    resource_group: "{{ plat__azure_metagroup_name }}"
    provider: ManagedIdentity
    resource_type: userAssignedIdentities
    resource_name: "{{ __azure_msi_item }}"
    api_version: '2018-11-30'
    idempotency: yes
    state: absent
    body:
      location: "{{ plat__region }}"
  loop:
    - "{{ plat__azure_idbroker_identity_name }}"
    - "{{ plat__azure_datalakeadmin_identity_name }}"
    - "{{ plat__azure_log_identity_name }}"
    - "{{ plat__azure_ranger_audit_identity_name }}"

- name: Wait for MSIs to be delisted
  azure.azcollection.azure_rm_resource_info:
    resource_group: "{{ plat__azure_metagroup_name }}"
    provider: ManagedIdentity
    resource_type: userAssignedIdentities
    api_version: '2018-11-30'
  register: __azure_identity_list
  delay: 5
  retries: 10
  until:
    - plat__azure_idbroker_identity_name in discovered_msi_list
    - plat__azure_datalakeadmin_identity_name in discovered_msi_list
    - plat__azure_log_identity_name in discovered_msi_list
    - plat__azure_ranger_audit_identity_name in discovered_msi_list
  vars:
    discovered_msi_list: "{{ __azure_identity_list.response | map(attribute='name') | list }}"

- name: Request identity deletion
  when:
    - no
    #- __azure_identity_list_names is defined
    #- __azure_identity_list_names | length > 0
    #- __azure_msi_item in __azure_identity_list_names
  loop_control:
    loop_var: __azure_msi_item
  register: __azure_msi_info
  command: "az identity delete -g {{ plat__azure_metagroup_name }} -n {{ __azure_msi_item }}"
  loop:
    - "{{ plat__azure_idbroker_identity_name }}"
    - "{{ plat__azure_datalakeadmin_identity_name }}"
    - "{{ plat__azure_log_identity_name }}"
    - "{{ plat__azure_ranger_audit_identity_name }}"

- name: Wait for identities to be unlisted
  when: no # plat__azure_metagroup_uri | length > 0
  command: "az identity list -g {{ plat__azure_metagroup_name }}"
  register: __azure_identity_list
  failed_when: __azure_identity_list.rc != 0
  delay: 5
  retries: 10
  until:
    - plat__azure_idbroker_identity_name not in ( __azure_identity_list.stdout | from_json | community.general.json_query('[*].name') )
    - plat__azure_datalakeadmin_identity_name not in ( __azure_identity_list.stdout | from_json | community.general.json_query('[*].name') )
    - plat__azure_log_identity_name not in ( __azure_identity_list.stdout | from_json | community.general.json_query('[*].name') )
    - plat__azure_ranger_audit_identity_name not in ( __azure_identity_list.stdout | from_json | community.general.json_query('[*].name') )

- name: Remove CDP Cross Account Credential for Azure
  when: plat__teardown_deletes_credential
  cloudera.cloud.env_cred:
    state: absent
    name: "{{ plat__xacccount_credential_name }}"

- name: Tear down Azure AD App Registration
  when: plat__teardown_deletes_xaccount and ( plat__azure_xaccount_app_uuid is defined ) and ( plat__azure_xaccount_app_uuid | length > 0 )
  command: >
      az ad sp delete
      --id {{ plat__azure_application_service_principal_objuuid }}

- name: Tear down Custom Role
  when: plat__teardown_deletes_roles
  azure.azcollection.azure_rm_roledefinition:
    state: absent
    name: "{{ plat__azure_xaccount_role_name }}"