datahub:
  compute:
    aws:
    azure:
    gcp:
  definitions:
  image_catalog:
    name:
    url:
  instance_group_base:
  storage:
    aws:
    azure:
    gcp:
  suffix:
  tags:
de:
df:
  suffix:
  min_k8s_nodes:
  max_k8s_nodes:
  public_loadbalancer:
  ip_ranges:
  teardown:
    persist:
dw:
  definitions:
  suffix:
env:
  aws:
    dynamodb:
      table_suffix:
    policy:
      name:
        bucket_access:
        cross_account:
        datalake_admin_s3:
        dynamodb:
        idbroker:
        log:
        ranger_audit_s3:
      suffix:
    role:
      label:
        cross_account:
        datalake_admin:
        idbroker:
        log:
        ranger_audit:
      name:
        cross_account:
        datalake_admin:
        idbroker:
        log:
        ranger_audit:
      suffix:
    storage:
      suffix:
  azure:
    app:
      name:
      suffix:
    policy:
      suffix:
      url:
    role:
      assignment:
        cross_account:
          contributor:
          role:
        datalake_admin:
          data:
            storageowner:
          logs:
            storageowner:
        idbroker:
          mgdidentop:
          vmcontributor:
        log:
          storagecontr:
        ranger_audit:
          storagecontr:
      label:
        data:
        datalake_admin:
        idbroker:
        identity:
        log:
        ranger_audit:
        xaccount:
      name:
        cross_account:
        datalake_admin:
        idbroker:
        log:
        ranger_audit:
      name_suffix:
        admin:
        assignment:
        contributor:
        operator:
        owner:
        user:
      suffix:
    storage:
      path:
        data:
        logs:
      suffix:
  cdp:
    admin_group:
      name:
      resource_roles:
      roles:
      suffix:
    control_plane:
      cidr:
      ports:
    credential:
      name:
      name_suffix:
      suffix:
    cross_account:
      account_id:
      external_id:
    group_suffix:
    user_group:
      name:
      resource_roles:
      roles:
      suffix:
  datalake:
    name:
    suffix:
    user_sync:
    version:
    scale:
  gcp:
    bindings:
      cross_account:
      logs:
    role:
      label:
        cross_account:
        datalake_admin:
        idbroker:
        identity:
        log:
        ranger_audit:
      name:
        cross_account:
        datalake_admin:
        idbroker:
        identity:
        log:
        ranger_audit:
      suffix:
    storage:
      path:
        data:
        logs:
      suffix:
  name:
  suffix:
  teardown:
    delete_admin_group:
    delete_credential:
    delete_cross_account:
    delete_policies:
    delete_roles:
    delete_user_group:
  tunnel:
  public_endpoint_access:
  workload_analytics:
globals:
  admin_password:
  artifacts:
    create_deployment_details:
    directory:
  cloudera_license_file:
  create_utility_service:
  dynamic_inventory:
    vm:
      count:
  gcloud_credential_file:
  infra_type:
  labels:
    admin:
    app:
    cml:
    credential:
    cross_account:
    data:
    datalake:
    datalake_admin:
    default:
    env:
    group:
    idbroker:
    identity:
    internet_gateway:
    knox:
    logs:
    policy:
    private:
    public:
    ranger_audit:
    role:
    route_table:
    service_network:
    storage:
    subnet:
    table:
    user:
    vpc:
  name_prefix:
  namespace_cdp:
  region:
  ssh:
    key_path:
    private_key_file:
    public_key_file:
    public_key_id:
    public_key_text:
  storage:
    name:
  tags:
  utility_bucket_name:
infra:
  aws:
    dynamodb:
      table_name:
    profile:
    region:
    vpc:
      az_count:
      internet_gateway:
        name:
        suffix:
      labels:
        route_table:
      route_table:
        suffix:
  azure:
    metagroup:
      name:
      suffix:
    netapp:
      account:
        name:
        suffix:
      pool:
        name:
        size:
        suffix:
        type:
      suffix:
      volume:
        name:
        size:
        suffix:
        type:
    region:
    sp_login_from_env:
    storage:
      class:
      name:
      type:
  dynamic_inventory:
    storage:
      delete:
      size:
      type:
    tag:
    tag_key:
    tag_value:
    vm:
      os:
      suffix:
      type:
  gcp:
    project:
    region:
    storage:
      path:
        data:
        logs:
  security_group:
    default:
      name:
      suffix:
    knox:
      name:
      suffix:
  storage:
    name:
    path:
      data:
      de:
      logs:
      ml:
      ranger_audit:
  teardown:
    delete_data:
    delete_mirror:
    delete_network:
    delete_ssh_key:
  vpc:
    cidr:
    extra_cidr:
    extra_ports:
    name:
    private_subnets:
    private_subnets_suffix:
    public_subnets:
    public_subnets_suffix:
    service_network:
      name:
      subnet:
    user_cidr:
    user_ports:
ml:
  definitions:
  k8s_request_base:
  suffix:
  tags:
opdb:
  definitions:
  suffix:
data:
  storage:
    # A list of lists of locations (read/[only|write]) defined in a policy and assigned to a role
    - read_only: bool
      locations: []
      policy:
        name:
        suffix:
        delete: bool
      role:
        datalake_admin: bool
        name:
        suffix:
        delete: bool
  policy:
    suffix:
    aws:
      suffix:
      read_only:
        suffix:
        url:
      read_write:
        suffix:
        url:
  role:
    suffix:
    aws:
      suffix:
  teardown:
      delete_policies:
      delete_roles: 